<div class="flex flex-col gap-4">
  <!-- CARD: ACCOUNT DATA -->
  <min-card>
    <min-h2>Accountdaten</min-h2>
    <div class="flex flex-col">
      @if (profileRequestState() === RequestState.Success || profileRequestState() === RequestState.Loading) {
        <!-- ACCOUNT DATA -->
        @let userProfile = userService.userProfile();
        <dl class="flex flex-col gap-2">
          <!-- EMAIL -->
          <div>
            <dt class="font-bold tracking-wide text-gray-500 uppercase">E-Mail:</dt>
            @if (profileRequestState() === RequestState.Loading) {
              <div class="h-6 w-60 animate-pulse rounded-lg bg-gray-300"></div>
            } @else {
              <dd>{{ userProfile?.email }}</dd>
            }
          </div>
          <!-- MEMBERSHIP DATE -->
          <div>
            <dt class="font-bold tracking-wide text-gray-500 uppercase">Mitglied seit:</dt>
            @if (profileRequestState() === RequestState.Loading) {
              <div class="h-6 w-40 animate-pulse rounded-lg bg-gray-300"></div>
            } @else {
              <dd>{{ userProfile?.createdAt }}</dd>
            }
          </div>
        </dl>
      }
      @if (profileRequestState() === RequestState.Error) {
        <!-- ERROR STATE -->
        <div class="rounded-lg border-2 border-red-300 bg-red-100 p-2 text-red-700" aria-live="polite">
          <p>{{ errorMessage() }}</p>
        </div>
      }
    </div>
    <!-- BUTTONS -->
    <div class="mt-4 flex flex-col gap-2 sm:flex-row">
      @if (profileRequestState() === RequestState.Success) {
        <!-- BUTTON: LOGOUT -->
        <min-button
          [color]="Color.Gray"
          [isDisabled]="logoutRequestState() === RequestState.Loading"
          (clicked)="logout()"
        >
          {{ logoutRequestState() === RequestState.Loading ? 'Melde ab ...' : 'Abmelden' }}
        </min-button>
      }
      @if (profileRequestState() === RequestState.Error) {
        <!-- BUTTON: RETRY -->
        <min-button [color]="Color.Gray" (clicked)="reloadProfile()"> Erneut versuchen </min-button>
      }
    </div>
  </min-card>

  <!-- CARD: DANGER ZONE -->
  @if (profileRequestState() === RequestState.Success) {
    <min-card>
      <min-h2><span class="text-red-500">Gefahrenzone</span> </min-h2>
      <p class="text-red-500">
        In diesem Bereich kannst du deinen Account löschen. Bitte sei dir bewusst, dass diese Aktion unwiderruflich ist
        und alle deine Daten gelöscht werden.
      </p>
      <!-- BUTTON: DELETE ACCOUNT -->
      <div class="mt-4 flex flex-col gap-2 sm:flex-row">
        <min-button [color]="Color.Red" [isDisabled]="isDeleteSubmitting()" (clicked)="openDeleteDialog()">
          {{ isDeleteSubmitting() ? 'Wird gelöscht...' : 'Account löschen' }}
        </min-button>
      </div>
    </min-card>
  }

  <!-- DIALOG: DELETE ACCOUNT -->
  <min-dialog [isOpen]="isDeleteDialogOpen()" title="Account löschen" (closed)="cancelDeleteAccount()">
    <div class="flex flex-col gap-4">
      <p class="text-red-500">
        Möchtest du deinen Account wirklich unwiderruflich löschen? Diese Aktion kann nicht rückgängig gemacht werden.
      </p>
      <div class="flex flex-col gap-2 sm:flex-row sm:justify-between">
        <min-button [color]="Color.Red" [isDisabled]="isDeleteSubmitting()" (clicked)="confirmDeleteAccount()">
          Unwiderruflich löschen
        </min-button>
        <min-button [color]="Color.Gray" (clicked)="cancelDeleteAccount()">Abbrechen</min-button>
      </div>
    </div>
  </min-dialog>
</div>
