<h1 class="my-2 text-center text-2xl font-bold"><app-logo>Games</app-logo></h1>

<div class="grid grid-cols-2 gap-2">
  <!-- MIN_ADVENT -->
  <app-card class="col-span-1">
    <h2 class="text-xl"><app-logo>RPS</app-logo></h2>
    <p class="text-sm text-gray-600">Mini rock paper scissors game.</p>
  </app-card>
  <!-- MIN_RNG -->
  <app-card class="col-span-1">
    <h2 class="text-xl"><app-logo>Fantasy</app-logo></h2>
    <p class="text-sm text-gray-600">Mini fantasy game.</p>
  </app-card>
</div>
