<div class="flex h-full flex-col text-center">
  @if (game().isObserver) {
    if
    <!-- PLAYER 1 SIDE (SPECTATOR) -->
    <div class="flex basis-1/2 flex-col justify-evenly">
      <div class="flex w-full flex-row justify-center">
        <minrps-card>
          <div class="flex flex-col items-center gap-2">
            <img src="assets/svg/player.svg" alt="Player" class="h-16 w-16" />
            <div class="text-sm font-bold">{{ game().heroName }}</div>
            @if (game().canTakeHeroSeat) {
              <min-button [color]="Color.Blue" (clicked)="openSeatDialog(1)">
                Take seat
              </min-button>
            }
          </div>
        </minrps-card>
      </div>

      <div class="flex w-full flex-row justify-evenly gap-2">
        @if (game().heroMove !== MinRpsMove.None) {
          <minrps-card [result]="game().result">
            <img
              class="h-16 w-16"
              [alt]="game().heroMove"
              [src]="`assets/svg/${game().heroMove}.svg`"
            />
          </minrps-card>
        } @else if (game().heroSelectedMove !== MinRpsMove.None) {
          <minrps-card>
            <img src="assets/svg/lock.svg" alt="Selected" class="h-16 w-16" />
          </minrps-card>
        } @else {
          <minrps-card>
            <img src="assets/svg/uncertainty.svg" alt="?" class="h-16 w-16" />
          </minrps-card>
        }
      </div>
    </div>

    <!-- DIVIDER -->
    <div class="flex flex-row justify-center">
      <min-divider class="basis-3/4"></min-divider>
    </div>

    <!-- PLAYER 2 SIDE (SPECTATOR) -->
    <div class="flex basis-1/2 flex-col justify-evenly">
      <div class="flex w-full flex-row justify-center">
        <minrps-card>
          <div class="flex flex-col items-center gap-2">
            <img src="assets/svg/player.svg" alt="Player" class="h-16 w-16" />
            <div class="text-sm font-bold">{{ game().villainName }}</div>
            @if (game().canTakeVillainSeat) {
              <min-button [color]="Color.Blue" (clicked)="openSeatDialog(2)">
                Take seat
              </min-button>
            }
          </div>
        </minrps-card>
      </div>

      <div class="flex w-full flex-row justify-evenly gap-2">
        @if (game().villainMove !== MinRpsMove.None) {
          <minrps-card [result]="game().result">
            <img
              class="h-16 w-16"
              [alt]="game().villainMove"
              [src]="`assets/svg/${game().villainMove}.svg`"
            />
          </minrps-card>
        } @else if (game().villainSelectedMove !== MinRpsMove.None) {
          <minrps-card>
            <img src="assets/svg/lock.svg" alt="Selected" class="h-16 w-16" />
          </minrps-card>
        } @else {
          <minrps-card>
            <img src="assets/svg/uncertainty.svg" alt="?" class="h-16 w-16" />
          </minrps-card>
        }
      </div>
    </div>
  } @else {
    else
    <!-- OPPONENT SIDE -->
    <div class="flex basis-1/2 flex-col justify-evenly">
      <div class="flex w-full flex-row justify-center">
        <minrps-card>
          <div class="flex flex-col items-center gap-2">
            <img src="assets/svg/player.svg" alt="Player" class="h-16 w-16" />
            <div class="text-sm font-bold">{{ game().villainName }}</div>
          </div>
        </minrps-card>
      </div>

      <div class="flex w-full flex-row justify-evenly gap-2">
        @if (game().villainMove !== MinRpsMove.None) {
          <minrps-card [result]="game().result">
            <img
              class="h-16 w-16"
              [alt]="game().villainMove"
              [src]="`assets/svg/${game().villainMove}.svg`"
            />
          </minrps-card>
        } @else if (game().villainSelectedMove !== MinRpsMove.None) {
          <minrps-card>
            <img src="assets/svg/lock.svg" alt="Selected" class="h-16 w-16" />
          </minrps-card>
        } @else {
          <minrps-card>
            <img src="assets/svg/uncertainty.svg" alt="?" class="h-16 w-16" />
          </minrps-card>
        }
      </div>
    </div>

    <!-- DIVIDER -->
    <div class="flex flex-row justify-center">
      <min-divider class="basis-3/4"></min-divider>
    </div>

    <!-- PLAYER SIDE -->
    <div class="flex basis-1/2 flex-col justify-evenly">
      <div class="flex w-full flex-row justify-center">
        <minrps-card>
          <div class="flex flex-col items-center gap-2">
            <img src="assets/svg/player.svg" alt="Player" class="h-16 w-16" />
            <div class="text-sm font-bold">{{ game().heroName }}</div>
          </div>
        </minrps-card>
      </div>

      <div class="flex w-full flex-row justify-evenly gap-2">
        @for (selectableMove of SELECTABLE_MOVES; track $index) {
          <minrps-move
            [isDisabled]="game().heroMove !== MinRpsMove.None && game().heroMove !== selectableMove"
            [isPlayed]="selectableMove === game().heroMove"
            [isSelected]="selectableMove === game().heroSelectedMove"
            [result]="game().result"
            (selected)="selectMove(selectableMove)"
          >
            <img
              [src]="`assets/svg/${selectableMove}.svg`"
              [alt]="selectableMove"
              class="h-16 w-16"
            />
          </minrps-move>
        }
      </div>

      <div class="flex w-full flex-row justify-center">
        <min-button
          class="basis-3xs"
          [color]="Color.Blue"
          [isDisabled]="
            game().heroSelectedMove === MinRpsMove.None ||
            game().heroMove !== MinRpsMove.None ||
            game().villainSelectedMove === MinRpsMove.None
          "
          (clicked)="playGame()"
        >
          {{ submitText() }}
        </min-button>
      </div>
    </div>
  }
</div>

<!-- SEAT GAME DIALOG -->
<min-dialog title="Take Seat" [isOpen]="isSeatDialogOpen()" (closed)="closeSeatDialog()">
  <div class="mb-4 flex flex-col">
    <min-input
      label="Player name"
      [formControlInput]="seatName"
      id="seat-name-input"
      placeholder="Enter name"
    ></min-input>
  </div>

  <div class="flex flex-row justify-end">
    <min-button [color]="Color.Blue" [isDisabled]="seatFormGroup.invalid" (clicked)="seatGame()">
      Join
    </min-button>
  </div>
</min-dialog>
