<div class="mb-4 flex flex-row justify-between">
  <!-- TITLE -->
  <min-h1>Online Games</min-h1>
  <!-- NEW GAME BUTTON -->
  <min-button [color]="Color.Blue" (clicked)="openNewGameDialog()">Create Game</min-button>
</div>

<!-- GAMES LIST -->
@for (game of games(); track $index) {
  <div class="flex flex-row justify-center">
    <min-card-button class="basis-xs sm:basis-md" (clicked)="navigateToMulitplayerPage(game.id)">
      <div class="flex flex-row items-start justify-between">
        <min-h2 class="grow text-left break-all">{{ game.name }}</min-h2>
        <min-button [color]="Color.Red" (clicked)="deleteGame(game.id, $event)">
          <img src="assets/svg/close.svg" alt="Rock" class="h-4 w-4" />
        </min-button>
      </div>
      <div class="flex flex-row items-end gap-2 text-left text-sm text-gray-500">
        <img src="assets/svg/player.svg" alt="Rock" class="h-6 w-6" />
        {{ game.playerCount }}/2
      </div>
      <div class="flex flex-row items-end gap-2 text-left text-sm text-gray-500">
        <img src="assets/svg/observer.svg" alt="Rock" class="h-6 w-6" />
        {{ game.observerCount }}
      </div>
      <div class="flex flex-row items-end gap-2 text-left text-sm text-gray-500">
        <img src="assets/svg/calendar.svg" alt="Rock" class="h-6 w-6" />
        {{ game.createdAt | date: 'MMMM d, yyyy' }}
      </div>
      <div class="flex flex-row items-end gap-2 text-left text-sm text-gray-500">
        <img src="assets/svg/clock.svg" alt="Rock" class="h-6 w-6" />
        {{ game.createdAt | date: 'hh:mm a' }}
      </div>
    </min-card-button>
  </div>
}

<!-- NEW GAME DIALOG -->
<min-dialog title="New Game" [isOpen]="isNewGameDialogOpen()" (closed)="isNewGameDialogOpen.set(false)">
  <div class="mb-4 flex flex-col">
    <min-input label="Game name" [formControlInput]="newGameName" id="game-name-input"></min-input>
  </div>

  <div class="flex flex-row justify-end">
    <min-button [color]="Color.Blue" [isDisabled]="newGameFormGroup.invalid" (clicked)="createGame()">
      Create Game
    </min-button>
  </div>
</min-dialog>
