<div class="flex h-full flex-col px-4">
  <!-- TITLE -->
  <div class="text-center">
    <min-h1>Multiplayer</min-h1>
  </div>

  <!-- NEW GAME BUTTON -->
  <min-button class="mb-4" [color]="Color.Gray" (clicked)="openNewGameDialog()">Neues Spiel</min-button>

  <!-- GAMES -->
  @for (game of games(); track $index) {
    <min-card-button class="mb-2" (clicked)="navigateToMultiplayerPage(game.id)">
      <div class="flex flex-row items-start justify-between">
        <min-h2 class="grow text-left break-all">{{ game.name }}</min-h2>
        <min-button [color]="Color.Red" (clicked)="openDeleteDialog(game.id, $event)">
          <img src="assets/svgs/close.svg" alt="Schliessen" class="h-4 w-4" />
        </min-button>
      </div>
      <div class="flex flex-row items-end gap-2 text-left text-sm text-gray-500">
        <img src="assets/svgs/pawn.svg" alt="Spieler" class="h-6 w-6" />
        {{ game.playerCount }}/2
      </div>
      <div class="flex flex-row items-end gap-2 text-left text-sm text-gray-500">
        <img src="assets/svgs/observer.svg" alt="Beobachter" class="h-6 w-6" />
        {{ game.observerCount }}
      </div>
      <div class="flex flex-row items-end gap-2 text-left text-sm text-gray-500">
        <img src="assets/svgs/calendar.svg" alt="Datum" class="h-6 w-6" />
        {{ game.createdAt | date: 'MMMM d, yyyy' }}
      </div>
      <div class="flex flex-row items-end gap-2 text-left text-sm text-gray-500">
        <img src="assets/svgs/clock.svg" alt="Uhrzeit" class="h-6 w-6" />
        {{ game.createdAt | date: 'hh:mm a' }}
      </div>
    </min-card-button>
  }

  <!-- NEW GAME DIALOG -->
  <min-dialog title="Neues Spiel" [isOpen]="isNewGameDialogOpen()" (closed)="isNewGameDialogOpen.set(false)">
    <min-input label="Spielname" [formControlInput]="newGameName" id="game-name-input"></min-input>
    <div class="mt-4 flex flex-row justify-end">
      <min-button [color]="Color.Blue" [isDisabled]="newGameFormGroup.invalid" (clicked)="createGame()">
        Spiel erstellen
      </min-button>
    </div>
  </min-dialog>

  <!-- DELETE DIALOG -->
  <min-dialog title="Spiel löschen" [isOpen]="isDeleteDialogOpen()" (closed)="cancelDeleteGame()">
    <p class="my-4">Möchtest du das Spiel wirklich löschen?</p>
    <div class="flex flex-row justify-end gap-2">
      <min-button [color]="Color.Gray" (clicked)="cancelDeleteGame()">Abbrechen</min-button>
      <min-button [color]="Color.Red" (clicked)="confirmDeleteGame()">Löschen</min-button>
    </div>
  </min-dialog>
</div>
