<div class="flex h-full flex-col text-center">
  <!-- OPPONENT SIDE -->
  <div class="flex basis-1/2 flex-col justify-evenly">
    <!-- MESSAGES -->
    <div class="relative mx-auto w-fit">
      <div class="rounded-lg border-8 border-double border-black bg-white px-2 py-1 shadow-2xl">
        <p class="text-sm" [innerHTML]="minRPSGameService.message()"></p>
      </div>
    </div>
    <!-- OPPONENT AVATAR -->
    <div class="flex w-full flex-row justify-center">
      <minrps-card>
        <img src="assets/svg/robot-antennas.svg" alt="Rock" class="h-16 w-16" />
      </minrps-card>
    </div>
    <!-- OPPONENT MOVES -->
    <div class="flex w-full flex-row justify-evenly gap-2">
      @if (minRPSGameService.player2Move() === MinRPSMove.Rock) {
        <minrps-card [gameResult]="minRPSGameService.gameResult()">
          <img src="assets/svg/rock.svg" alt="Rock" class="h-16 w-16" />
        </minrps-card>
      } @else {
        <minrps-card>
          <img src="assets/svg/uncertainty.svg" alt="Rock" class="h-16 w-16" />
        </minrps-card>
      }
      @if (minRPSGameService.player2Move() === MinRPSMove.Paper) {
        <minrps-card [gameResult]="minRPSGameService.gameResult()">
          <img src="assets/svg/paper.svg" alt="Rock" class="h-16 w-16" />
        </minrps-card>
      } @else {
        <minrps-card>
          <img src="assets/svg/uncertainty.svg" alt="Rock" class="h-16 w-16" />
        </minrps-card>
      }
      @if (minRPSGameService.player2Move() === MinRPSMove.Scissors) {
        <minrps-card [gameResult]="minRPSGameService.gameResult()">
          <img src="assets/svg/scissors.svg" alt="Rock" class="h-16 w-16" />
        </minrps-card>
      } @else {
        <minrps-card>
          <img src="assets/svg/uncertainty.svg" alt="Rock" class="h-16 w-16" />
        </minrps-card>
      }
    </div>
  </div>

  <!-- DIVIDER -->
  <div class="flex flex-row justify-center">
    <min-divider class="basis-3/4"></min-divider>
  </div>

  <!-- PLAYER SIDE -->
  <div class="flex basis-1/2 flex-col justify-evenly">
    <!-- PLAYER MOVES -->
    <div class="flex w-full flex-row justify-evenly gap-2">
      <minrps-move
        [disabled]="
          minRPSGameService.player1Move() !== MinRPSMove.None &&
          minRPSGameService.player1Move() !== MinRPSMove.Rock
        "
        [isLocked]="minRPSGameService.player1Move() === MinRPSMove.Rock"
        [isSelected]="minRPSGameService.player1MovePreview() === MinRPSMove.Rock"
        [gameResult]="minRPSGameService.gameResult()"
        (selected)="minRPSGameService.player1MovePreview.set(MinRPSMove.Rock)"
      >
        <img src="assets/svg/rock.svg" alt="Rock" class="h-16 w-16" />
      </minrps-move>
      <minrps-move
        [disabled]="
          minRPSGameService.player1Move() !== MinRPSMove.None &&
          minRPSGameService.player1Move() !== MinRPSMove.Paper
        "
        [isLocked]="minRPSGameService.player1Move() === MinRPSMove.Paper"
        [isSelected]="minRPSGameService.player1MovePreview() === MinRPSMove.Paper"
        [gameResult]="minRPSGameService.gameResult()"
        (selected)="minRPSGameService.player1MovePreview.set(MinRPSMove.Paper)"
      >
        <img src="assets/svg/paper.svg" alt="Rock" class="h-16 w-16" />
      </minrps-move>
      <minrps-move
        [disabled]="
          minRPSGameService.player1Move() !== MinRPSMove.None &&
          minRPSGameService.player1Move() !== MinRPSMove.Scissors
        "
        [isLocked]="minRPSGameService.player1Move() === MinRPSMove.Scissors"
        [isSelected]="minRPSGameService.player1MovePreview() === MinRPSMove.Scissors"
        [gameResult]="minRPSGameService.gameResult()"
        (selected)="minRPSGameService.player1MovePreview.set(MinRPSMove.Scissors)"
      >
        <img src="assets/svg/scissors.svg" alt="Rock" class="h-16 w-16" />
      </minrps-move>
    </div>
    <!-- ACTION BUTTON -->
    <div class="flex w-full flex-row justify-center">
      <min-button
        class="basis-3xs"
        [color]="Color.Blue"
        [disabled]="
          minRPSGameService.player1MovePreview() === MinRPSMove.None ||
          minRPSGameService.player1Move() !== MinRPSMove.None
        "
        (clicked)="minRPSGameService.startGameLoop()"
      >
        {{ buttonText() }}
      </min-button>
    </div>
  </div>
</div>
