<div class="flex h-full flex-col text-center">
  <!-- OPPONENT SIDE -->
  <div class="flex basis-1/2 flex-col justify-evenly">
    <!-- Wrapper relativ, damit der Tail positioniert werden kann -->
    <div class="relative mx-auto w-fit">
      <!-- Die Sprechblase -->
      <div class="rounded-lg border-8 border-double border-black bg-white px-2 py-1 shadow-2xl">
        <p class="text-sm" [innerHTML]="chatMessage()"></p>
      </div>
    </div>

    <!-- OPPONENT PICTURE -->
    <div class="flex w-full flex-row justify-center">
      <minrps-card>
        <img src="assets/svg/robot-antennas.svg" alt="Rock" class="h-16 w-16" />
      </minrps-card>
    </div>
    <!-- OPPONENT MOVES -->
    <div class="flex w-full flex-row justify-evenly gap-2">
      @if (lockedOpponentMove() === MinRPSMove.Rock) {
        <minrps-card [gameResult]="gameResult()">
          <img src="assets/svg/rock.svg" alt="Rock" class="h-16 w-16" />
        </minrps-card>
      } @else {
        <minrps-card>
          <img src="assets/svg/uncertainty.svg" alt="Rock" class="h-16 w-16" />
        </minrps-card>
      }
      @if (lockedOpponentMove() === MinRPSMove.Paper) {
        <minrps-card [gameResult]="gameResult()">
          <img src="assets/svg/paper.svg" alt="Rock" class="h-16 w-16" />
        </minrps-card>
      } @else {
        <minrps-card>
          <img src="assets/svg/uncertainty.svg" alt="Rock" class="h-16 w-16" />
        </minrps-card>
      }
      @if (lockedOpponentMove() === MinRPSMove.Scissors) {
        <minrps-card [gameResult]="gameResult()">
          <img src="assets/svg/scissors.svg" alt="Rock" class="h-16 w-16" />
        </minrps-card>
      } @else {
        <minrps-card>
          <img src="assets/svg/uncertainty.svg" alt="Rock" class="h-16 w-16" />
        </minrps-card>
      }
    </div>
  </div>

  <!-- DIVIDER -->
  <div class="flex flex-row justify-center">
    <min-divider class="basis-3/4"></min-divider>
  </div>

  <!-- PLAYER SIDE -->
  <div class="flex basis-1/2 flex-col justify-evenly">
    <!-- PLAYER MOVES -->
    <div class="flex w-full flex-row justify-evenly gap-2">
      <minrps-move
        [disabled]="
          lockedPlayerMove() !== MinRPSMove.None && lockedPlayerMove() !== MinRPSMove.Rock
        "
        [isLocked]="lockedPlayerMove() === MinRPSMove.Rock"
        [isSelected]="selectedPlayerMove() === MinRPSMove.Rock"
        [gameResult]="gameResult()"
        (selected)="selectedPlayerMove.set(MinRPSMove.Rock)"
      >
        <img src="assets/svg/rock.svg" alt="Rock" class="h-16 w-16" />
      </minrps-move>
      <minrps-move
        [disabled]="
          lockedPlayerMove() !== MinRPSMove.None && lockedPlayerMove() !== MinRPSMove.Paper
        "
        [isLocked]="lockedPlayerMove() === MinRPSMove.Paper"
        [isSelected]="selectedPlayerMove() === MinRPSMove.Paper"
        [gameResult]="gameResult()"
        (selected)="selectedPlayerMove.set(MinRPSMove.Paper)"
      >
        <img src="assets/svg/paper.svg" alt="Rock" class="h-16 w-16" />
      </minrps-move>
      <minrps-move
        [disabled]="
          lockedPlayerMove() !== MinRPSMove.None && lockedPlayerMove() !== MinRPSMove.Scissors
        "
        [isLocked]="lockedPlayerMove() === MinRPSMove.Scissors"
        [isSelected]="selectedPlayerMove() === MinRPSMove.Scissors"
        [gameResult]="gameResult()"
        (selected)="selectedPlayerMove.set(MinRPSMove.Scissors)"
      >
        <img src="assets/svg/scissors.svg" alt="Rock" class="h-16 w-16" />
      </minrps-move>
    </div>
    <!-- ACTION BUTTON -->
    <div class="flex w-full flex-row justify-center">
      <min-button
        class="basis-3xs"
        [color]="Color.Blue"
        [disabled]="
          selectedPlayerMove() === MinRPSMove.None || lockedPlayerMove() !== MinRPSMove.None
        "
        (clicked)="lockMove()"
      >
        {{ buttonText() }}
      </min-button>
    </div>
  </div>
</div>
