# CLIENT IGNORES
client/.angular
client/coverage
client/dist
client/docs
client/node_modules

# SERVER IGNORES
server/coverage
server/src/coverage
server/dist
server/docs
server/node_modules
server/.env

# VISUAL STUDIO CODE
.vscode/*
.history/*