<div class="flex h-full flex-col">
  <!-- TITLE -->
  <div class="text-center">
    <min-h1><min-logo>RPS</min-logo></min-h1>
    <p class="text-gray-500">Das minimalistische "Rock, Paper, Scissors" Spiel.</p>
  </div>

  <!-- GAME MODES -->
  <div class="flex grow items-center">
    <div class="flex w-full flex-col gap-4">
      <!-- SINGLEPLAYER -->
      <min-card-button (clicked)="routingService.navigateToMinRpsSingleplayer()">
        <min-h2>Singleplayer</min-h2>
        <p class="text-gray-500">Spiele mit <min-logo>Robo</min-logo></p>
      </min-card-button>
      <!-- MULTIPLAYER -->
      <min-card-button (clicked)="routingService.navigateToMinRpsOverview()">
        <min-h2>Multiplayer</min-h2>
        <p class="text-gray-500">Spiele mit einem Freund</p>
      </min-card-button>
    </div>
  </div>
</div>
