<div class="flex flex-col">
  <!-- HEADLINE -->
  <div class="flex flex-row justify-between">
    <!-- BUTTON: BACK -->
    <min-button ariaLabel="Zurück" title="Zurück" [color]="Color.White" (clicked)="routingService.navigateToMinPoker()">
      <img src="assets/svgs/minfactory/ui/back.svg" alt="Zurück" class="h-4 w-4" />
    </min-button>
    <!-- TITLE -->
    <min-h2>Poker Lobby</min-h2>
    <!-- BUTTON: NEW GAME -->
    <min-button ariaLabel="Neues Spiel" title="Neues Spiel" [color]="Color.Green" (clicked)="openNewGameDialog()">
      <img src="assets/svgs/minfactory/ui/add.svg" alt="Neues Spiel" class="h-4 w-4" />
    </min-button>
  </div>

  <!-- GAMES -->
  <div class="flex flex-col gap-2">
    @if (isLoading()) {
      <output aria-busy="true" class="flex flex-col gap-2" aria-live="polite">
        @for (item of [1, 2, 3]; track $index) {
          <div class="flex flex-col gap-4 rounded-lg border border-4 border-gray-500 bg-white p-2">
            <div class="flex flex-row justify-between">
              <div class="h-8 w-44 animate-pulse rounded-lg bg-gray-300"></div>
              <div class="h-8 w-10 animate-pulse rounded-lg bg-gray-300"></div>
            </div>
            <div class="flex flex-col gap-1">
              <div class="h-5 w-12 animate-pulse rounded-lg bg-gray-300"></div>
              <div class="h-5 w-8 animate-pulse rounded-lg bg-gray-300"></div>
              <div class="h-5 w-16 animate-pulse rounded-lg bg-gray-300"></div>
              <div class="h-5 w-24 animate-pulse rounded-lg bg-gray-300"></div>
            </div>
          </div>
        }
      </output>
    } @else if (isError()) {
      <div class="rounded-lg border-4 border-red-300 bg-red-100 p-2 text-sm text-red-500" aria-live="polite">
        <p class="font-bold">Fehler</p>
        <p>{{ errorMessage() }}</p>
      </div>
      <div class="flex flex-row justify-center">
        <min-button [color]="Color.Gray" (clicked)="reloadGames()">
          <img src="assets/svgs/minfactory/ui/refresh.svg" alt="Spiel löschen" class="h-4 w-4" />
        </min-button>
      </div>
    } @else {
      @for (game of games(); track $index) {
        <min-card-button (clicked)="navigateToGame(game.id)">
          <div class="flex flex-row justify-between">
            <min-h2 class="grow text-left break-all">{{ game.name }}</min-h2>
            <min-button [color]="Color.Red" (clicked)="openDeleteDialog(game.id, $event)">
              <img src="assets/svgs/minfactory/ui/close.svg" alt="Spiel löschen" class="h-4 w-4" />
            </min-button>
          </div>
          <div class="flex flex-col gap-1">
            <div class="flex flex-row gap-2 text-left text-sm text-gray-500">
              <img src="assets/svgs/minpoker/player.svg" alt="Spieler" class="h-5 w-5" />
              {{ game.playerCount }}/{{ game.maxPlayerCount }}
            </div>
            <div class="flex flex-row gap-2 text-left text-sm text-gray-500">
              <img src="assets/svgs/minpoker/observer.svg" alt="Beobachter" class="h-5 w-5" />
              {{ game.observerCount }}
            </div>
            <div class="flex flex-row gap-2 text-left text-sm text-gray-500">
              <img src="assets/svgs/minpoker/blinds.svg" alt="Blinds" class="h-5 w-5" />
              {{ game.smallBlind }} / {{ game.bigBlind }}
            </div>
            <div class="flex flex-row gap-2 text-left text-sm text-gray-500">
              <img src="assets/svgs/minpoker/calendar.svg" alt="Datum" class="h-5 w-5" />
              {{ game.createdAt | date: 'd. MMMM yyyy' }}, {{ game.createdAt | date: 'HH:mm' }} Uhr
            </div>
          </div>
        </min-card-button>
      }
    }
  </div>
</div>

<!-- NEW GAME DIALOG -->
<min-dialog title="Neues Spiel" [isOpen]="isNewGameDialogOpen()" (closed)="isNewGameDialogOpen.set(false)">
  <div class="flex flex-col gap-4">
    <div>
      <min-input
        id="poker-game-name-input"
        label="Spielname"
        [formControlInput]="newGameName"
        [maxLength]="32"
        [minLength]="2"
      >
      </min-input>
      @if (newGameName.invalid && newGameName.touched) {
        @if (newGameName.errors?.['required']) {
          <p class="text-sm text-red-500" aria-live="assertive">Der Spielname darf nicht leer sein.</p>
        }
        @if (newGameName.errors?.['minlength']) {
          <p class="text-sm text-red-500" aria-live="assertive">Der Spielname muss mindestens 2 Zeichen lang sein.</p>
        }
        @if (newGameName.errors?.['maxlength']) {
          <p class="text-sm text-red-500" aria-live="assertive">Der Spielname darf maximal 32 Zeichen lang sein.</p>
        }
      }
    </div>
    <div class="flex flex-row justify-end">
      <min-button [color]="Color.Green" [isDisabled]="newGameFormGroup.invalid" (clicked)="createGame()">
        Spiel erstellen
      </min-button>
    </div>
  </div>
</min-dialog>

<!-- DELETE DIALOG -->
<min-dialog title="Spiel löschen" [isOpen]="isDeleteDialogOpen()" (closed)="cancelDeleteGame()">
  <p class="my-4">Möchtest du das Spiel wirklich löschen?</p>
  <div class="flex flex-row justify-end gap-2">
    <min-button [color]="Color.Red" (clicked)="confirmDeleteGame()">Löschen</min-button>
    <min-button [color]="Color.Gray" (clicked)="cancelDeleteGame()">Abbrechen</min-button>
  </div>
</min-dialog>
