<div class="flex flex-col">
  <!-- HEADLINE -->
  <div class="flex flex-row justify-between">
    <!-- BUTTON: BACK -->
    <min-button ariaLabel="Zurück" title="Zurück" [color]="Color.White" (clicked)="routingService.navigateToMinPoker()">
      <img src="assets/svgs/minfactory/ui/back.svg" alt="Zurück" class="h-4 w-4" />
    </min-button>
    <!-- TITLE -->
    <min-h2>Poker Lobby</min-h2>
    <!-- BUTTON: NEW GAME -->
    <min-button ariaLabel="Neues Spiel" title="Neues Spiel" [color]="Color.Blue">
      <img src="assets/svgs/minfactory/ui/add.svg" alt="Neues Spiel" class="h-4 w-4" />
    </min-button>
  </div>

  <!-- GAMES -->
  <div class="flex flex-col gap-2">
    @for (game of games(); track $index) {
      <min-card-button>
        <div class="flex flex-row items-start justify-between">
          <min-h2 class="grow text-left break-all">{{ game.name }}</min-h2>
          <min-button [color]="Color.Red">
            <img src="assets/svgs/minfactory/ui/close.svg" alt="Spiel löschen" class="h-4 w-4" />
          </min-button>
        </div>
        <div class="flex flex-row gap-2 text-left text-sm text-gray-500">
          <img src="assets/svgs/minpoker/player.svg" alt="Spieler" class="h-5 w-5" />
          {{ game.playerCount }}/{{ game.maxPlayerCount }}
        </div>
        <div class="flex flex-row gap-2 text-left text-sm text-gray-500">
          <img src="assets/svgs/minpoker/observer.svg" alt="Beobachter" class="h-5 w-5" />
          {{ game.observerCount }}
        </div>
        <div class="flex flex-row gap-2 text-left text-sm text-gray-500">
          <img src="assets/svgs/minpoker/blinds.svg" alt="Blinds" class="h-5 w-5" />
          {{ game.smallBlind }} / {{ game.bigBlind }}
        </div>
        <div class="flex flex-row gap-2 text-left text-sm text-gray-500">
          <img src="assets/svgs/minpoker/calendar.svg" alt="Datum" class="h-5 w-5" />
          {{ game.createdAt | date: 'd. MMMM yyyy' }}, {{ game.createdAt | date: 'HH:mm' }} Uhr
        </div>
      </min-card-button>
    }
  </div>
</div>
