<!-- TITLE -->
<min-h1 class="text-center"><min-logo>Play</min-logo></min-h1>

<!-- GAMES -->
<div class="grid grid-cols-2 gap-2">
  <!-- MIN_RPS -->
  <min-card-button class="mt-4" (clicked)="routingService.navigateToMinRPS()">
    <div class="flex flex-row items-start justify-between">
      <min-h2><min-logo>RPS</min-logo></min-h2>
      <min-badge [color]="Color.Yellow">alpha</min-badge>
    </div>
    <p class="text-left text-sm text-gray-500">Mini "rock, paper, scissors" game.</p>
  </min-card-button>
</div>
