<!-- TITLE -->
<min-h1 class="text-center"><min-logo>Games</min-logo></min-h1>

<!-- GAMES -->
<div class="grid grid-cols-2 gap-2">
  <!-- MIN_ADVENT -->
  <min-card class="col-span-1">
    <h2 class="text-xl"><min-logo>RPS</min-logo></h2>
    <p class="text-sm text-gray-600">Mini rock paper scissors game.</p>
  </min-card>
  <!-- MIN_RNG -->
  <min-card class="col-span-1">
    <h2 class="text-xl"><min-logo>Fantasy</min-logo></h2>
    <p class="text-sm text-gray-600">Mini fantasy game.</p>
  </min-card>
</div>
