<div class="relative flex h-full flex-col px-4 text-center">
  <!-- LEAVE BUTTON -->
  <div class="absolute top-0 right-0">
    <min-button (clicked)="routingService.navigateToMinRps()" [color]="Color.Red" title="Spiel verlassen">
      <img src="assets/svgs/close.svg" alt="Schliessen" class="h-4 w-4" />
    </min-button>
  </div>
  <!-- OPPONENT SIDE -->
  <div class="flex basis-1/2 flex-col justify-evenly">
    <!-- OPPONENT AVATAR -->
    <div class="flex w-full flex-row justify-center">
      <minrps-card>
        <img src="assets/svgs/minrps/minrobo.svg" alt="minRobo" class="h-16 w-16" />
      </minrps-card>
    </div>
    <!-- OPPONENT MOVE -->
    <div class="flex w-full flex-row justify-evenly gap-2">
      @if (game().player2Move !== MinRpsMove.None) {
        <minrps-card
          [hasResult]="game().result !== MinRpsResult.None"
          [isWinning]="game().player2IsWinning"
          [isDraw]="game().result === MinRpsResult.Draw"
        >
          <img class="h-16 w-16" [alt]="game().player2Move" [src]="`assets/svgs/minrps/${game().player2Move}.svg`" />
        </minrps-card>
      } @else {
        <minrps-card>
          <img src="assets/svgs/minrps/uncertainty.svg" alt="Ungewiss" class="h-16 w-16" />
        </minrps-card>
      }
    </div>
  </div>

  <!-- DIVIDER -->
  <div class="flex flex-row justify-center">
    <min-divider class="basis-3/4"></min-divider>
  </div>

  <!-- HERO SIDE -->
  <div class="flex basis-1/2 flex-col justify-evenly gap-4">
    <div class="flex w-full flex-row justify-center">
      <div class="w-full max-w-sm">
        <minrps-result-history [resultHistory]="game().resultHistory"></minrps-result-history>
      </div>
    </div>
    <!-- HERO MOVES -->
    <div class="flex w-full flex-row justify-evenly gap-2">
      @for (selectableMove of selectableMoves; track $index) {
        <minrps-move
          [hasResult]="game().result !== MinRpsResult.None"
          [isDisabled]="game().player1Move !== MinRpsMove.None && game().player1Move !== selectableMove"
          [isPlayed]="selectableMove === selectedMove() || selectableMove === game().player1Move"
          [isSelected]="selectableMove === selectedMove()"
          [isWinning]="game().player1IsWinning"
          [isDraw]="game().result === MinRpsResult.Draw"
          (selected)="selectMove(selectableMove)"
        >
          <img [src]="`assets/svgs/minrps/${selectableMove}.svg`" [alt]="selectableMove" class="h-16 w-16" />
        </minrps-move>
      }
    </div>
    <!-- ACTION BUTTON -->
    <div class="flex w-full flex-row justify-center">
      <min-button
        class="basis-3xs"
        [color]="Color.Blue"
        [isDisabled]="selectedMove() === MinRpsMove.None || game().player1Move !== MinRpsMove.None"
        (clicked)="playGame()"
      >
        {{ submitText() }}
      </min-button>
    </div>
  </div>
</div>

<!-- LEAVE DIALOG -->
<min-dialog title="Spiel verlassen" [isOpen]="isLeaveDialogOpen()" (closed)="cancelLeave()">
  <p class="my-4">Möchtest du das Spiel wirklich verlassen?</p>
  <div class="flex flex-row justify-end gap-2">
    <min-button [color]="Color.Red" (clicked)="confirmLeave()">Verlassen</min-button>
    <min-button [color]="Color.Gray" (clicked)="cancelLeave()">Abbrechen</min-button>
  </div>
</min-dialog>
