<div class="flex h-full flex-col text-center">
  <!-- OPPONENT SIDE -->
  <div class="flex basis-1/2 flex-col justify-evenly">
    <!-- OPPONENT AVATAR -->
    <div class="flex w-full flex-row justify-center">
      <minrps-card>
        <img src="assets/svg/minrps/minrobo.svg" alt="Rock" class="h-16 w-16" />
      </minrps-card>
    </div>

    <!-- OPPONENT MOVE -->
    <div class="flex w-full flex-row justify-evenly gap-2">
      @if (game().player2Move !== MinRpsMove.None) {
        <minrps-card
          [hasResult]="game().result !== MinRpsResult.None"
          [isWinning]="game().player2IsWinning"
          [isDraw]="game().result === MinRpsResult.Draw"
        >
          <img class="h-16 w-16" [alt]="game().player2Move" [src]="`assets/svg/minrps/${game().player2Move}.svg`" />
        </minrps-card>
      } @else {
        <minrps-card>
          <img src="assets/svg/minrps/uncertainty.svg" alt="?" class="h-16 w-16" />
        </minrps-card>
      }
    </div>
  </div>

  <!-- DIVIDER -->
  <div class="flex flex-row justify-center">
    <min-divider class="basis-3/4"></min-divider>
  </div>

  <!-- PLAYER SIDE -->
  <div class="flex basis-1/2 flex-col justify-evenly">
    <!-- PLAYER MOVES -->
    <div class="flex w-full flex-row justify-evenly gap-2">
      @for (selectableMove of selectableMoves; track $index) {
        <minrps-move
          [hasResult]="game().result !== MinRpsResult.None"
          [isDisabled]="game().player1Move !== MinRpsMove.None && game().player1Move !== selectableMove"
          [isPlayed]="selectableMove === game().player1Move"
          [isSelected]="selectableMove === selectedMove()"
          [isWinning]="game().player1IsWinning"
          [isDraw]="game().result === MinRpsResult.Draw"
          (selected)="selectMove(selectableMove)"
        >
          <img [src]="`assets/svg/minrps/${selectableMove}.svg`" [alt]="selectableMove" class="h-16 w-16" />
        </minrps-move>
      }
    </div>

    <!-- ACTION BUTTON -->
    <div class="flex w-full flex-row justify-center">
      <min-button
        class="basis-3xs"
        [color]="Color.Blue"
        [isDisabled]="selectedMove() === MinRpsMove.None || game().player1Move !== MinRpsMove.None"
        (clicked)="playGame()"
      >
        {{ submitText() }}
      </min-button>
    </div>
  </div>
</div>
