<!-- TABS -->
<div class="mb-4 flex w-full flex-row items-end justify-around gap-4 border-b-4 border-black text-center">
  <!-- TAB: GAMES -->
  <button
    class="relative bottom-[-4px] ml-4 basis-1/2 cursor-pointer rounded-t-lg border-4 px-4 font-bold"
    [class.bg-gray-300]="selectedTab() !== 1"
    [class.border-b-0]="selectedTab() === 1"
    [class.bg-gray-100]="selectedTab() === 1"
    [class.pt-2]="selectedTab() !== 1"
    [class.pb-2]="selectedTab() !== 1"
    [class.pt-3]="selectedTab() === 1"
    [class.pb-3]="selectedTab() === 1"
    (click)="selectedTab.set(1)"
  >
    Spiele
  </button>
  <!-- TAB: APPS -->
  <button
    class="relative bottom-[-4px] mr-4 basis-1/2 cursor-pointer rounded-t-lg border-4 px-4 font-bold"
    [class.bg-gray-300]="selectedTab() !== 2"
    [class.border-b-0]="selectedTab() === 2"
    [class.bg-gray-100]="selectedTab() === 2"
    [class.pt-2]="selectedTab() !== 2"
    [class.pb-2]="selectedTab() !== 2"
    [class.pt-3]="selectedTab() === 2"
    [class.pb-3]="selectedTab() === 2"
    (click)="selectedTab.set(2)"
  >
    Apps
  </button>
</div>

<!-- CONTENT -->
<div class="flex w-full grow flex-col gap-2 px-4">
  <!-- CONTENT TAB GAMES -->
  @if (selectedTab() === 1) {
    <!-- MINPOKER -->
    <min-card-button [disabled]="!isMinPokerEnabled" (clicked)="routingService.navigateToMinPoker()">
      <div class="flex flex-row items-start justify-between">
        <min-h2><min-logo>Poker</min-logo></min-h2>
        <min-badge [color]="Color.Yellow">soon</min-badge>
      </div>
      <p class="text-left text-sm text-gray-500">Das minimalistische Texas Hold'em Pokerspiel.</p>
    </min-card-button>

    <!-- MINRPS -->
    <min-card-button (clicked)="routingService.navigateToMinRps()">
      <div class="flex flex-row items-start justify-between">
        <min-h2><min-logo>RPS</min-logo></min-h2>
      </div>
      <p class="text-left text-sm text-gray-500">Das minimalistische "Rock, Paper, Scissors" Spiel.</p>
    </min-card-button>
  }
  <!-- CONTENT TAB APPS -->
  @if (selectedTab() === 2) {
    <!-- MINADVENT -->
    <min-card-button [disabled]="true">
      <div class="flex flex-row items-start justify-between">
        <min-h2><min-logo>Advent</min-logo></min-h2>
        <min-badge [color]="Color.Yellow">soon</min-badge>
      </div>
      <p class="text-left text-sm text-gray-500">Der minimalistische Adventskalender.</p>
    </min-card-button>
  }
</div>
