<div class="flex flex-col">
  <!-- TITLE -->
  <div class="text-center">
    <min-h1><min-logo>Poker</min-logo></min-h1>
    <p class="mb-4 text-gray-500">Das minimalistische Texas Hold'em Pokerspiel.</p>
  </div>

  <!-- MENU -->
  <div class="flex grow flex-col gap-2">
    <!-- PROFILE -->
    <min-card-button>
      <min-h2>Profil</min-h2>
      <p class="text-gray-500">Verwalte dein Profil</p>
    </min-card-button>
    <!-- LOBBY -->
    <min-card-button (clicked)="routingService.navigateToMinPokerLobby()">
      <min-h2>Lobby</min-h2>
      <p class="text-gray-500">Pokerturniere</p>
    </min-card-button>
    <!-- PLAY BUTTON -->
    <div class="mt-4">
      <min-button [color]="Color.Green" (clicked)="routingService.navigateToMinPokerGame()">Game Page</min-button>
    </div>
  </div>
</div>
