<button
  class="relative inline-flex"
  type="button"
  [attr.aria-describedby]="content() ? popoverId : null"
  [attr.aria-expanded]="isVisible()"
  [disabled]="disabled()"
  (click)="onHostClick($event)"
  (focusin)="onFocusIn()"
  (focusout)="onFocusOut($event)"
  (keydown)="onHostKeydown($event)"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
>
  <ng-content></ng-content>

  @if (content()) {
    <span
      class="absolute top-[calc(100%+8px)] right-0 z-50 w-max rounded-lg border-2 border-black bg-white p-1 text-xs text-gray-500 shadow-2xl transition-opacity"
      role="tooltip"
      [id]="popoverId"
      [class.opacity-0]="!isVisible()"
      [class.pointer-events-none]="!isVisible()"
    >
      {{ content() }}
    </span>
  }
</button>
